body {
  background-color: whitesmoke; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 230px; }
  main .about-body {
    width: 500px;
    text-align: justify;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.336);
    background-color: white; }
