main {
  margin-top: 30px;
  padding-bottom: 150px; }

.links-status {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329); }
  .links-status ul.list-status {
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 0px;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style-type: none; }

div.row {
  margin-top: 30px; }
  div.row .card-body {
    background-color: whitesmoke; }
    div.row .card-body a {
      color: red; }
    div.row .card-body i {
      font-size: 14px; }

@media (max-width: 780px) {
  .links-status {
    width: max-content;
    margin: auto; }
    .links-status ul.list-status {
      flex-direction: column;
      align-items: center; } }
