body {
  background-color: whitesmoke; }

main {
  padding-bottom: 150px; }

#banner-game {
  display: flex;
  justify-content: center;
  align-items: center; }
  #banner-game .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em; }
    #banner-game .banner img {
      width: 500px;
      height: 350px; }
