body {
  background-color: whitesmoke; }

main {
  padding-bottom: 150px; }

#banner-game {
  display: flex;
  justify-content: center;
  align-items: center; }
  #banner-game .banner img {
    width: 600px;
    height: 400px; }
