main {
  padding-bottom: 150px; }

#container {
  display: inline-block;
  position: relative; }

img {
  filter: blur(3px); }

#container figcaption {
  width: 300px;
  position: absolute;
  top: 50%;
  font-size: 20px;
  color: black;
  text-shadow: 0px 0px 5px black; }
