body {
  background-color: rgba(220, 220, 220, 0.541); }

main {
  padding-bottom: 150px; }

#banner-game {
  display: flex;
  justify-content: center;
  align-items: center; }
  #banner-game .banner {
    width: 50%; }
