body {
  background-color: whitesmoke; }

main {
  margin-top: 50px;
  padding-bottom: 150px; }

.card {
  background-color: white; }

.comments {
  display: flex;
  justify-content: space-between; }
