body {
  background-color: whitesmoke; }

main {
  margin-top: 50px;
  padding-bottom: 150px; }

.card {
  background-color: white; }
  .card .tag-genero {
    background-color: rgba(111, 0, 255, 0.3);
    padding: 5px;
    color: #6f00ff;
    border-radius: 2px; }
  .card .card-title h1 {
    font-size: 1.6em;
    margin: 10px 0 0 0; }
    .card .card-title h1 a {
      color: #f00034; }
  .card .card-text p {
    margin: 0; }
  .card .comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
