body {
  background-color: whitesmoke; }

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-body p.description {
  margin: 0; }

.card-body p.updated_at {
  margin: 0; }
