#login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #login-form .title {
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.7); }
  #login-form form {
    width: 350px; }
