#login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #login-form form {
    width: 350px;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329);
    border: 1px solid rgba(0, 0, 0, 0.05); }
    #login-form form .title {
      font-size: 1.8em;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 30px;
      text-align: center; }
    #login-form form input {
      margin-bottom: 10px; }
    #login-form form button {
      background-color: blueviolet;
      color: white;
      width: 80%;
      border: 0;
      padding: 5px 0; }
