body {
  background-color: white; }

#register-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #register-form form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329); }
    #register-form form small {
      display: block;
      margin-bottom: 10px; }
    #register-form form .invalid-feedback {
      margin-bottom: 8px; }
