body {
  background-color: whitesmoke; }

#register-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #register-form form {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.329); }
