body {
    background-color: whitesmoke;
}

main {
    padding-bottom: 150px;
}

#banner-game {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .banner {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 600px;
            height: 300px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
        }

        .banner-body {
            border-radius: 2px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
            padding: 0 20px;
            width: 400px;   
            height: 100%;
            background-color: rgb(69, 41, 97);

            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 2em;
                margin-bottom: 5px;
                color: white;
            }

            p {
                span {
                    color: whitesmoke !important;
                }
                
                margin-bottom: 10px;
                line-height: 22px;
                font-size: 15px;
            }

            .banner-text {
                .tag-genero {
                    display: inline-block;
                    background-color: rgba(0, 0, 0, 0.6);
                    padding: 0 5px;
                    color: whitesmoke;
                    border-radius: 3px;
                    margin-bottom: 5px;
                }
            }

            .banner-favorites {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                
                i {
                    color: wheat;
                }
            }
        }
    }
}


@media(max-width: 1000px) {
    #banner-game {
        .banner {
            flex-direction: column;

            img {
                width: max-content;
                height: max-content;
            }

            .banner-body {
                width: 100%;  
                padding: 15px; 
            }
        }
    }
}
