{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Criar uma conta {% endblock %}

{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'accounts/scss/register.scss' %}" type="text/x-sass">
{% endblock %}

{% block 'body' %}
    <div id="container-form">
        <form method="post">
            <input class="form-control" type="text" id="id_username" name="username" placeholder="Nome de usuário">
    
            <input class="form-control" type="email" id="id_email" name="email" placeholder="Email">
    
            <input class="form-control" type="password" id="id_password" name="password" placeholder="Senha">
            
            <input class="form-control" type="password" id="id_password2" name="password2" placeholder="Confirmar Senha">
        </form>
    </div>
{% endblock %}
