{% extends 'base.html' %}
{% load static %}
{% load MyFilters %}

{% block 'styles' %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/scss/game_detail.scss' %}" type="text/x-sass">
{% endblock %}


{% block 'main' %}
    <div id="banner-game">
        <div class="banner">
            <img src="{{ game.image.url }}" alt="{{ game.title }}" class="img-fluid">
            
            <div class="banner-body">
                <div class="banner-text">
                    <h1>{{ game.title }}</h1>
                    <p>{{ game.description }}</p>
                    
                    {% for tag in game.tags.all %}
                        <small class="tag-genero">{{ tag }}</small>
                    {% endfor %}
                </div>
                    
                <div class="banner-favorites">
                    <a href=""><i class="fa-solid fa-heart"></i></a>

                    <select>
                        <option selected>Escolha uma opção</option>
                        <option>Dropado</option>
                        <option>Jogar Depois</option>
                        <option>Gostei</option>
                        <option>Jogando</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="about-game">
        <h1>Sobre este jogo</h1>

        <p class="text-about">{{ game.about|safe }}</p>

        <div id="comments-game">
            <h1>Comentários</h1>

            {% for comment in game.comment.all %}
                <div class="comment">
                    <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong>
                    <p>{{ comment.comment }}</p>
                    
                    <small class="text-muted">- {{ comment.created_at }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
