{% extends 'base.html' %}
{% load static %}


{% block 'styles' %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/scss/game_detail.scss' %}" type="text/x-sass">
{% endblock %}


{% block 'main' %}
    <div id="banner-game">
        <div class="banner">
            <img src="{{ game.image.url }}" alt="{{ game.title }}" class="img-fluid">
            
            <div class="banner-body">
                <div class="banner-text">
                    <h1>{{ game.title }}</h1>
                    <p>Horizon Zero Dawn é um jogo eletrônico de RPG de ação desenvolvido pela Guerrilla Games e publicado pela Sony Interactive Entertainment. Foi lançado em 28 de fevereiro de 2017 para PlayStation 4 e em 7 de agosto de 2020 para Microsoft Windows.</p>
                    
                    {% for tag in game.tags.all %}
                        <small class="tag-genero">{{ tag }}</small>
                    {% endfor %}
                </div>
                    
                <div class="banner-favorites">
                    <a href=""><i class="fa-solid fa-heart"></i></a>

                    <select>
                        <option selected>Escolha uma opção</option>
                        <option>Dropado</option>
                        <option>Jogar Depois</option>
                        <option>Gostei</option>
                        <option>Jogando</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="about-game">
        <h1>Sobre este jogo</h1>

        {{ game.about|safe }}
    </div>
{% endblock %}
