{% extends 'base.html' %}
{% load static %}

{% block 'styles' %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/scss/home.scss' %}" type="text/x-sass">
{% endblock %}
    
{% block 'main' %}
    <form method="GET" id="search-posts">
        <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Pesquise pelo nome do jogo" class="form-control" name="search" value="{{request.GET.search}}">
        </div>
    </form>

    <hr>

    <div class="row">
        {% include 'partials/_messages.html' %}

        {% if games %}
            {% for game in games %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-5 shadow-sm">
                        <a href="{% url 'game-detail' game.id %}">
                            <img src="{{ game.image.url }}" class="img-fluid">
                        </a>
                        
                        <div class="card-body">
                            <div class="card-title">
                                {% for tag in game.tags.all %}
                                    <small href="#" class="tag-genero">{{ tag }}</small>
                                {% endfor %}

                                <h1>
                                    <a href="#" class="title-post">{{ game.title }}</a>
                                </h1>
                            </div>
                            
                            <div class="card-text">
                                <p>{{ game.description|safe }}</p>
                                
                                <div class="comments" href="#">
                                    <p class="text-muted">
                                        <i class="fa fa-comment"></i>
                                        <span>{{ game.comment.count }} Comentário(s)</span>
                                    </p>
                                    
                                    <a href="#" class="btn btn-outline-primary">Ler Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <img id="error-search" src="{% static 'images/404-error.png' %}" alt="error-not-search">
            <a href="{% url 'home' %}" class="text-center" id="link-error-search">Voltar para página principal</a>
        {% endif %}
    </div>

    {% if games %}
        {% include 'partials/_pagination.html' %}
    {% endif %}
{% endblock %}
