{% extends 'base.html' %}
{% load static %}


{% block 'styles' %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/scss/home.scss' %}" type="text/x-sass">
{% endblock %}

{% block 'main' %}
    <div class="row">
        {% for game in games %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <a href="#">
                        <img src="{{ game.image.url }}" class="img-fluid">
                    </a>
                    
                    <div class="card-body">
                        <div class="card-title">
                            <h1><a href="#" class="title-post">{{ game.title }}</a></h1>
                        </div>
                        
                        <div class="card-text">
                            <p>{{ game.about|safe }}</p>
                            
                            <div class="comments" href="#">
                                <div>
                                    <i class="fa fa-comment"></i>
                                    <span>5 comentários</span>
                                </div>

                                <a href="#" class="btn btn-primary">Ler Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
