{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Tela de login {% endblock %}

{% block 'styles' %} 
    <link rel="stylesheet" href="{% static 'registration/scss/login.scss' %}" type="text/x-sass">
{% endblock %}

{% block 'header' %} {% endblock %}

{% block 'main' %}
    <div id="login-form">
        <form method="post">
            {% csrf_token %}
            <h1 class="title">Login</h1>

            {% include 'partials/_messages.html' %}

            <input type="text" name="username" class="form-control" placeholder="Nome de usuário">
            <input type="password" name="password" class="form-control" placeholder="Senha">

            <button>Entrar</button>
            <p>Ainda não possui uma conta? <a href="{% url 'register' %}">Então crie uma</a></p>
        </form>
    </div>
{% endblock %}

{% block 'footer' %} {% endblock %}
