{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Tela de login {% endblock %}

{% block 'styles' %} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'registration/scss/login.scss' %}" type="text/x-sass">
{% endblock %}

{% block 'header' %} {% endblock %}

{% block 'main' %}
    <div id="login-form">
        <form method="post">
            {% csrf_token %}
            
            <img id="img-gamer" src="{% static 'images/gamer.png' %}" alt="gamer">
            <h1 class="title">Welcome</h1>

            {% include 'partials/_messages.html' %}

            <div class="input-icon">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" class="form-control" placeholder="Username" value="{{ request.POST.username }}" id="id_username">
            </div>

            <div class="input-icon">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="password" class="form-control" placeholder="Password" id="id_password">
            </div>

            <div class="checkbox-view-password">
                <input type="checkbox" id="view_password">
                <label for="view_password">Mostrar senha </label>
            </div>

            <button><i class="fa-solid fa-gamepad"></i> Logar </button>
            <p>Don't have an account yet? <a href="{% url 'register' %}">then create a</a></p>
        </form>
    </div>
{% endblock %}

{% block 'footer' %} {% endblock %}


{% block 'scripts' %}
    {{block.super}}
    <script src="{% static 'registration/js/login.js' %}"></script>
{% endblock %}