{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} Tela Inicial - The Game Of Us {% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    
    {% compress css %}
        {% block 'styles' %} {% endblock %}
    {% endcompress %}
</head>
<body>
    {% block 'body' %}
        <p>Hello, World!</p>
    {% endblock %}
</body>
</html>
